<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="module.template.mapper.ParamTemplateFieldMapper">

    <select id="selectValueListByPartId" resultType="module.part.dto.PartParamValueDTO">
        SELECT pf.param_code, pf.data_type, pv.value
        FROM param_template_field pf
        LEFT JOIN part_param_value pv ON pf.field_id = pv.field_id AND pv.part_id = #{partId}
        WHERE pf.template_id = (SELECT template_id FROM part_info WHERE part_id = #{partId})
    </select>

</mapper>