<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="module.system.mapper.UserMapper">

    <resultMap id="UserResultMap" type="module.system.dto.signInDTO">
        <id property="userId" column="user_id"/>
        <result property="realName" column="real_name"/>
        <result property="phone" column="phone"/>
        <result property="password" column="password"/>
        <result property="userType" column="user_type"/>
        <result property="email" column="email"/>
    </resultMap>

</mapper>